:root {
  --white-field-background: rgb(241, 241, 241);
  --black-field-background: rgb(27, 26, 26);
  --field-width: 12.5%;
  --field-height: var(--field-width);
  --cheesboard-width: 50vw;
  --cheesboard-height: var(--cheesboard-width);
}
